<main class="profile">
  <div class="profile__personal">
    <a href="{{returnLink}}" class="profile__return-link">
      <div class="profile__return-icon"></div>
      <h1 class="profile__heading">Управление аккаунтом</h1>
    </a>
    <div class="profile__personal-container">
      {{{avatar}}}
      {{{personalForm}}}
      <button class="profile__logout-button">Выйти из системы</button>
    </div>
  </div>
  <div class="profile__password">
    <button class="profile__theme-change" type="button"></button>
    <div class="profile__password-container">
      {{{passwordForm}}}
    </div>
  </div>
  {{{popup}}}
</main>
