<li class="message">
  <div class="message__sender-info">
    <img src="{{avatar}}" alt="Аватар пользователя {{username}}." class="message__avatar">
    <h3 class="message__name">{{username}}</h3>
  </div>
  <div class="message__container">
    {{{message}}}
  </div>
  <p class="message__send-time">{{time}}</p>
</li>